.input-container {
    width: 100%;
    align-items: center;
    background-color: var(--secondary);
    border: 1px solid var(--static11);
    border-radius: 5px;
    padding: 0 .5em;
}
input.input-container {
    height: 2em;
}
.input-container.input-dark {
    background-color: var(--background);
}

textarea.input-container {
    color: var(--text);
    resize: vertical;
}

form .input-container {
    margin-bottom: .5em;
}

.input-2-col {
    display:grid;
    grid-template-columns: 20px 1fr;
}

.input-3-col {
    display: grid;
    grid-template-columns: 20px 1fr 20px;
}


.input-width-200 {
    width: 200px;
}

.input-width-300 {
    width: 300px;
}

.button {
    width: 100%;
    height: 2.5em;
    background-color: var(--accent);
    color: var(--white);
    border:none;
    cursor: pointer;
    font-size: var(--font-size--small);
    text-align: center;
    vertical-align: center;
    line-height: 2.5em;
}

form .button {
    margin-top: .5em;
}

.button-primary {
    background-color: var(--primary);
    color: var(--white);
}

.button-check-box {
    background-color: var(--secondary);
}
.button-check-box.active {
    background-color: var(--primary);
}

.button-width-200 {
    width: 200px;
}

.button-width-100 {
    width: 100px;
}

.button-fit-content {
    width: fit-content;
    padding-inline: 1em;
}

.round {
    border-radius: 9999999px;
}

.password-toggle {
    background:none;
    outline: none;
    border: none;
    font-size: large;
    cursor: pointer;
    color: var(--text);
}


.input-container input {
    width: 100%;
    background: none;
    outline: none;
    border: none;
    color: var(--text);
}

.validated-input-container.invalid .input-container {
    border-color: var(--primary);
}

.validated-input-container .validation-text {
    display: none;
    margin: 0;
    margin-bottom: .5em;
    color: var(--primary);
    font-size: 14px;
}

.validated-input-container.invalid .validation-text {
    display:block;
}