.content-panel {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: var(--background);
    height: 100%;
    max-width: 1200px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.35);
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.35);
}


.account-panel {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--static1);
    padding: 1em .5em;
    max-height: 100vh;
    min-height: 100vh;
    height: 100vh;
    position: sticky;
    top: 0;
}

.profile-picture-container {
    position: relative;
    width: 70%;
}

.profile-picture-container img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.profile-picture-container .picture-switcher {
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: #000000c0;
    color: var(--white);
    border-radius: 1000px;
    padding: .5em;
}
.profile-picture-container .picture-switcher span {
    font-size: var(--font-size--large);
}

.account-panel .username {
    margin-bottom: 0;
    font-size: var(--font-size--large);
}
.account-panel .email {
    margin-top: .5em;
    font-size: var(--font-size--default);
}

.top-panel {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.settings-panel {
    padding: 1em;
}

.settings-panel .panel-list {
    display:flex;
    flex-direction: column;
}

.settings-panel .panel-action-grid {
    display:grid;
    grid-template-columns: 1fr 200px;
    row-gap: 2em;
    column-gap: 1em;
    align-items: center;
}

.settings-panel .panel-action-grid p, .settings-panel .panel-list p,
.settings-panel .panel-action-grid .button, .settings-panel .panel-list .button {
    margin: 0;
}

.mail-confirmed {
    color: var(--green);
}

#change-password-form {
    max-width: 400px;
    margin-top: 1em;
}

#change-password-form label {
    display: block;
    margin-bottom: .2em;
    user-select: none;
}

#change-password-button {
    margin-top: 1em;
}

#change-name-button {
    margin-top: 0;
}

.panel-action-grid > .input-container {
    margin-bottom: 0;
}

.change-name-container {
    display:flex;
    align-items: center;
    gap: 2em
}

.role-container:hover {
    background-color: var(--secondary);
}

.role-container {
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
    padding-left: .2em;
    padding-bottom: .5em;
    cursor: pointer;
}

.role-name {
    margin-bottom: 0;
    color: var(--accent);
    font-weight: bold;
}

.role-info {
    display:flex;
    flex-direction: row;
    gap: 1.5em;
}

.role-description {
    grid-column: 2;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 500ms ease-in-out;
}

.role-container.active .role-description {
    grid-template-rows: 1fr;
}

.role-description > p {
    overflow: hidden;
    transition-property: margin, padding;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

.role-container:not(.active) .role-description p {
    margin: 0;
    padding: 0;
}

.role-description p {
    padding-right: 1em;
}

#change-name-button .error,
#change-name-button .changed,
#change-name-button .loading,
#change-name-button.loading .default,
#change-name-button.changed .default,
#change-name-button.error .default {
    display: none;
}

#change-name-button.error .error,
#change-name-button.loading .loading,
#change-name-button.changed .changed {
    display: inline;
    vertical-align: middle;
}

#change-name-button.error .error:before,
#change-name-button.loading .loading:before,
#change-name-button.changed .changed:before {
    color: var(--white) !important;
    border-top-color: var(--white) !important;
    font-size: var(--font-size--large);
}

#change-name-button.error {
    background-color: var(--primary);
}

#change-name-button.changed {
    background-color: var(--green);
}

#change-name-button[disabled]:not(.changed,.error,.loading) {
    cursor: default;
    background-color: var(--btn-disabled-color);
}

#change-name-indicator{
    font-size: var(--font-size--large);
}


@media screen and (max-width: 800px) {
    .settings-panel .panel-action-grid {
        display:flex;
        flex-direction: column;
        align-items: start;
        gap: 1em;
    }
}

@media screen and (max-width: 500px) {
    .content-panel {
        display:flex;
        flex-direction: column;
    }

    .account-panel {
        max-height: 18rem;
        min-height: 0;
        position: static;
        justify-content: start;
    }

    .top-panel .profile-picture-container, .top-panel .profile-picture-container img {
        max-height: 10rem;
    }
}